<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div id="app">
            <h1>{{output}}</h1>
            <div>{{10 + 1}}</div>
            <input v-model="searchme">
            <div>
                Searching for {{searchme}}
            </div>
            <ul>
                <li v-for="index in items">
                    {{index.todo}}
                </li>
            </ul>

            <div>{{ $data  |  json }}</div>
        </div>
        <!-- Add your site or application content here -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/main.js"></script>
    </body>
</html>
